<h1> Articles </h1>

	<% @articles.each do | article | %>
		<div>
	  <h3><%= article.title %></h3>
	  <p>by <%= article.author %>, <%= article.publication %>, <%= article.date_published %></p>
	  <p>Abstract: <%= article.abstract %></p>
	    <%= link_to 'Read Full Article', article_path(article.id) %><br>
	    <%= link_to 'Delete Article', article_path(article.id), method: :delete %>
		<div>
	<% end %>
<div id="new_article">
<%= link_to 'New Article', new_article_path %>
</div>
